{
    "extends": [
        "airbnb",
        "plugin:lodash/recommended"
    ],
    "plugins": [
        "react",
        "import",
        "jest",
        "lodash"
    ],
    "env": {
        "browser"      : true,
        "jest/globals" : true
    },
    "parser": "babel-eslint",
    "rules": {
        "no-use-before-define"                   : "off",
        "no-shadow"                              : "off",
        "no-multi-spaces"                        : "off",
        "no-nested-ternary"                      : "off",
        "no-return-assign"                       : ["error", "except-parens"],
        "no-unused-expressions"                  : ["error", { "allowTernary": true }],
        "no-restricted-syntax"                   : ["error", "LabeledStatement", "WithStatement"],
        "no-restricted-properties"               : "warn",
        "no-fallthrough"                         : "off",
        "max-len"                                : ["error", { "code": 120 }],
        "semi"                                   : "error",
        "object-curly-spacing"                   : ["error", "always"],
        "object-curly-newline"                   : ["error", { "consistent": true, "multiline": true }],
        "comma-dangle"                           : ["error", "never"],
        "arrow-parens"                           : ["error", "always"],
        "brace-style"                            : ["error", "stroustrup"],
        "quote-props"                            : ["error", "consistent-as-needed"],
        "function-paren-newline"                 : ["error", "consistent"],/*
        "key-spacing"                            : ["error", {
                                                        "align": {
                                                            "beforeColon": true,
                                                            "afterColon": true,
                                                            "on": "colon"
                                                        }
                                                   }],*/
/*
        "indent"                                 : ["error", 2, { "SwitchCase": 1 }],
*/
/*
        "react/jsx-indent"                       : ["error", 4],
*/
        // "react/jsx-indent-props"                 : ["error", 4],
        "react/jsx-curly-spacing"                : ["error", "always"],
        // "react/jsx-filename-extension"           : ["error", { "extensions" : [".js", ".jsx"] }],
        "react/prop-types"                       : ["error", { "ignore": ["children", "className", "dispatch", "t"] }],
        "react/require-default-props"            : "off",
        "react/forbid-prop-types"                : ["error", { "forbid" : ["any", "array"] }],

        "import/extensions"                      : ["error", "never", { "js": "never", "scss": "always", "css": "always" }],
        "import/prefer-default-export"           : "off",
        "import/no-unresolved"                   : "off",
        "import/no-cycle"                        : "off",
        "import/no-useless-path-segments"        : "off",

        "jsx-a11y/label-has-for"                 : "off",
        "jsx-a11y/anchor-is-valid"               : "off",
        "jsx-a11y/href-no-hash"                  : "off",
        "jsx-a11y/click-events-have-key-events"  : "off",
        "jsx-a11y/interactive-supports-focus"    : "off",

        "lodash/import-scope"                    : ["error", "member"],
        "lodash/path-style"                      : ["error", "as-needed"],
        "linebreak-style"                        : "off"
    }
}

